#title-header {
    text-align: left;
    background-color: #333;
    color: white;
    line-height: 25px;
    font-weight: 500;
    padding-top: 2px;
    padding-left: 40px;
}

footer {
    text-align: right;
    background-color: #333;
    color: white;
    padding-right: 40px;
}

.container {
    min-height: 400px;
}